/** Общие стили */
body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #001402;
}

.wrapper {
    width: 881px;
    margin: 0 auto;
    background-color: yellow;
    box-shadow: 0 0 50px 10px #000;
    border: solid black 1px;
}

.header {
    border-bottom: solid black 1px;
    background-color: #d00000;
    box-shadow: inset 0 0 50px 10px #000;
}

.title {
    background-color: transparent;
    margin: 0;
}

.title h1 {
    margin: 0;
    font-size: 22px;
    color: #fff922;
    text-align: center;
    padding: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0 0 20px black;
}

.form-space {
    text-align: center;
    position: relative;
}

.form-space p {
    margin-top: 50px;
    color: #b46dff;
    font-size: 24px;

    -webkit-user-select: none;
    /* user-select -- это нестандартное свойство */

    -moz-user-select: none;
    /* поэтому нужны префиксы */

    -ms-user-select: none;
}

p.notice {
    margin: 20px auto 0;
    font-size: 16px;
    width: 400px;
}

.input-name {
    border-radius: 15px;
    border: solid 2px #770077;
    font-size: 20px;
    padding-left: 10px;
    width: 300px;
    text-align: center;
    color: #7e00cc;
    outline:none;
}

.input-name:focus::-webkit-input-placeholder { color:transparent; }
.input-name:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
.input-name:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
.input-name:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
.input-name:focus {
    box-shadow: 0 0 10px 2px fuchsia;
}

.input-size {
    width: 0;
    height: 0;
    margin: 0;
    opacity: 0;
}

.input-size[type="radio"] + label {
    display: inline-block;
    color: #ff9cfd;
    font-size: 26px;
    width: 75px;

    -webkit-user-select: none;
    /* user-select -- это нестандартное свойство */

    -moz-user-select: none;
    /* поэтому нужны префиксы */

    -ms-user-select: none;
}

.input-size[type="radio"]:checked + label {
    font-weight: bold;
    font-size: 28px;
    color: #fff;
    text-shadow: 0 0 5px fuchsia;
}

.input-size[type="radio"] + label:hover{
    cursor: pointer;
}

.input-theme {
    width: 0;
    height: 0;
    margin: 0;
    opacity: 0;
}

.input-theme[type="radio"] + label {
    display: inline-block;
    font-size: 0;
    width: 75px;
    height: 75px;
    margin-left: 20px;
    margin-right: 20px;
    border: 0;
    border-radius: 5px;
    -webkit-user-select: none;
    /* user-select -- это нестандартное свойство */

    -moz-user-select: none;
    /* поэтому нужны префиксы */

    -ms-user-select: none;
}

.input-theme[type="radio"]:checked + label {
    box-shadow: 0 0 10px 2px fuchsia;
}

.input-theme[type="radio"] + label:hover{
    cursor: pointer;
}

#theme-hearthstone[type="radio"] + label  {
    background-image: url("../img/themes/hearthstone/back-side.png");
    background-size: cover;
}

#theme-superheroes[type="radio"] + label  {
    background-image: url("../img/themes/superheroes/back-side.png");
    background-size: cover;
}

#theme-pets[type="radio"] + label  {
    background-image: url("../img/themes/pets/back-side.png");
    background-size: cover;
}

.btn {
    text-align: center;
    display: block;
    padding: 5px;
    margin: 15px;
    text-decoration: none;
    color: #dddddd;
    background-color: #0a510a;
    font-size: 16px;
    text-transform: uppercase;
    vertical-align: middle;
    letter-spacing: 3px;
    border: 0;
    border-radius: 10px;

    -webkit-user-select: none;
    /* user-select -- это нестандартное свойство */

    -moz-user-select: none;
    /* поэтому нужны префиксы */

    -ms-user-select: none;
}

.btn:visited {
    color: #dddddd;
}

.btn:hover {
    color: #ffffff;
    background-color: #07220a;
}

.form-space {
    position: relative;
    float: left;
    padding: 0;
    border: 0;
    margin: 0;
    width: 680px;
    height: 577px;
    background-color: #370037;
    box-shadow: inset 0 10px 100px 10px #000;
}

.panel {
    float: left;
    background-color: green;
    width: 200px;
    height: 577px;
    border-left: solid black 1px;
    box-shadow: inset 0 0 20px 5px #000;
}

.clearfix {
    clear: both;
}

.footer {
    height: 35px;
    border-top: solid black 1px;
    background-color: #d00000;
    box-shadow: inset 0 0 50px 10px #000;
    text-align: center;
    color: #999;
    /*vertical-align: middle;*/
}

.footer p {
    margin-top: 8px;
}

.hidden {
    background-color: transparent;
}

/* Валидация */
.invalid, .invalid:focus {
    background: #ff9cfd;
    border-color: red;
    box-shadow: 0 0 10px 2px red;
}

#required {
    position: absolute;
    top: 104px;
    left: 512px;
    color: red;
    font-size: 20px;
}
