body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #001402;
}

.wrapper {
    width: 881px;
    margin: 0 auto;
    background-color: yellow;
    box-shadow: 0 0 50px 10px #000;
    border: solid black 1px;
}

.header {
    border-bottom: solid black 1px;
    background-color: #d00000;
    box-shadow: inset 0 0 50px 10px #000;
}

.title {
    background-color: transparent;
    margin: 0;
}

.title h1 {
    margin: 0;
    font-size: 22px;
    color: #fff922;
    text-align: center;
    padding: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0 0 20px black;
}

.btn {
    text-align: center;
    display: block;
    padding: 5px;
    margin: 15px;
    text-decoration: none;
    color: #dddddd;
    background-color: #0a510a;
    font-size: 16px;
    text-transform: uppercase;
    vertical-align: middle;
    letter-spacing: 3px;
    border: 0;
    border-radius: 10px;

    -webkit-user-select: none;
    /* user-select -- это нестандартное свойство */

    -moz-user-select: none;
    /* поэтому нужны префиксы */

    -ms-user-select: none;
}

.btn:visited {
    color: #dddddd;
}

.btn:hover {
    color: #ffffff;
    background-color: #07220a;
}

.scores-space {
    position: relative;
    float: left;
    padding: 0;
    border: 0;
    margin: 0;
    width:680px;
    height: 577px;
    background-color: #370037;
    box-shadow: inset 0 10px 100px 10px #000;
}

.panel {
    float: left;
    background-color: green;
    width: 200px;
    height: 577px;
    border-left: solid black 1px;
    box-shadow: inset 0 0 20px 5px #000;
}

.clearfix {
    clear: both;
}

.footer {
    height: 35px;
    border-top: solid black 1px;
    background-color: #d00000;
    box-shadow: inset 0 0 50px 10px #000;
    text-align: center;
    color: #999;
    /*vertical-align: middle;*/
}
.footer p {
    margin-top: 8px;
}

.hidden {
    background-color: transparent;
}

.wrapper-table {
    overflow-x: hidden;
    overflow-y: visible;
    max-height: 440px;
}


.wrapper-table::-webkit-scrollbar-track {
    background-color:#390039;
    box-shadow:0px 0px 3px #000 inset;
    border-radius: 5px;
}

.wrapper-table::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border: solid #390039 1px;
    border-radius: 5px;
    background-color:#af00af;
    box-shadow: 0px 1px 1px #ff9cfd inset;
    background-image:url('../img/scroll-thumb.png');
    background-position:center;
    background-repeat:no-repeat;
}

.wrapper-table::-webkit-scrollbar{
    width: 10px;
}


table {
    background-color: #af00af;
    font-size: 18px;
    margin-left: 10px;
    width: 548px;
}

table td {
    background-color: #4f004f;
    color: #ff9cfd;
}


/* Базовый контейнер табов */
.tabs {
    width: 600px;
    padding: 0;
    margin: 30px auto 0 auto;
}
/* Стили секций с содержанием */
.tabs>section {
    display: none;
    padding: 15px;
    background: #770077;
    border: 1px solid #390039;
    border-radius: 0 0 10px 10px;
}

/* Прячем чекбоксы */
.tabs>input {
    display: none;
    position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 5px 25px;
    width: 90px;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: #ff9cfd;
    border: 0px solid #390039;
    border-width: 1px 1px 1px 1px;
    background: #4f004f;
    border-radius: 3px 3px 0 0;
}

.tabs>#tab1+label {
    border-radius: 10px 3px 0 0;
    width:100px;
}

.tabs>#tab4+label {
    border-radius: 3px 10px 0 0;
    width:100px;
}

/* Шрифт-иконки от Font Awesome в формате Unicode */
/*
.tabs>label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}
.tabs>label[for*="1"]:before {
    content: url("../img/...");
    content: "\f19a";
}
.tabs>label[for*="2"]:before {
    content: "\f17a";
}
.tabs>label[for*="3"]:before {
    content: "\f13b";
}
.tabs>label[for*="4"]:before {
    content: "\f13c";
}
*/

/* Изменения стиля переключателей вкладок при наведении */

.tabs>label:hover {
    cursor: pointer;
}

/* Стили для активной вкладки */
.tabs>input:checked+label {
    color: #fff;
    text-shadow: 0 0 5px fuchsia;
    border-top: 1px solid fuchsia;
    border-bottom: 1px solid #770077;
    background: #770077;
}

/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4 {
    display: block;
}
/* Убираем текст с переключателей
* и оставляем иконки на малых экранах
*/

/*
@media screen and (max-width: 680px) {
    .tabs>label {
        font-size: 0;
    }
    .tabs>label:before {
        margin: 0;
        font-size: 18px;
    }
}
*/

/* Изменяем внутренние отступы
*  переключателей для малых экранов
*/

/*
@media screen and (max-width: 400px) {
    .tabs>label {
        padding: 15px;
    }
}
*/